@import './components/variables';
@import './components/nav';
@import './components/button';
@import './components/header';
@import './components/media-queries';
@import './components/grid';
@import './components/about';
@import './components/contact';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-cream;
  font-family: $font-family;
}
