@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 132px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  color: #FFF7F0;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
}

.btn--black {
  background-color: #030303;
}
.btn--black:hover {
  background-color: #755CDE;
}

.btn--red {
  background-color: #EB7565;
}
.btn--red:hover {
  background-color: #F6A560;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.header__content .header__title h1 {
  font-size: 56px;
  font-weight: bold;
  color: #030303;
}
.header__content .header__title p {
  font-size: 18px;
  color: #7A746E;
  margin: 20px auto;
  width: 75%;
}

@media screen and (max-width: 1100px) {
  .header__content {
    width: 90%;
  }
  .header__content .header__title h1 {
    font-size: 40px;
  }
  .header__content .header__title p {
    font-size: 18px;
  }
  .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: #030303;
    color: #FFF7F0;
    text-align: center;
    padding: 2rem;
  }
  .contact__content .contact__title {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    width: 80% !important;
  }
  .contact__content .contact__title h2 {
    font-size: 32px !important;
    width: 100% !important;
  }
  .contact__content .contact__title p {
    width: 100% !important;
    margin: 0 auto;
  }
  .contact__content .btn__container {
    padding: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  nav {
    width: 90%;
  }
  .header__content {
    width: 90%;
  }
  .header__content .header__title h1 {
    margin: 0 auto;
    font-size: 40px;
    width: 80%;
  }
  .header__content .header__title p {
    font-size: 18px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .about__content .about__title h2 {
    font-size: 32px !important;
    width: 100% !important;
  }
  .about__content .about__title p {
    width: 100% !important;
  }
  .about__content .btn__container {
    width: 100% !important;
  }
}
.grid__container {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
}
.grid__container .grid__item {
  color: #FFF7F0;
  border: 1px solid #7A746E;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid__container .grid__item img {
  width: 50%;
  height: 50%;
  align-self: flex-end;
}
.grid__container .grid__item h3 {
  display: flex;
  justify-content: start;
  font-size: 18px;
}
.grid__container .horizontal {
  grid-column: span 2;
  grid-row: span 1;
}
.grid__container .big {
  grid-column: span 2;
  grid-row: span 2;
}

.grid--galactic {
  background-color: #755CDE;
}

.grid--summer {
  background-color: #F6A560;
}

.grid--pink {
  background-color: #F39E9E;
}

.grid--red {
  background-color: #EB7565;
}

.grid--cyan {
  background-color: #61C4B7;
}

.grid--purple {
  background-color: #552049;
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 100px auto;
}
.about__content .about__title h2 {
  margin: 20px auto;
  font-size: 40px;
  width: 75%;
}
.about__content .about__title p {
  font-size: 18px;
  color: #7A746E;
  font-weight: 300;
  margin: 20px auto;
  width: 75%;
}
.about__content .btn__container {
  width: 75%;
  margin: 20px auto;
}
.about__content img {
  width: 100%;
}

.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 100px auto;
  background-color: #030303;
  border-radius: 8px;
  color: #FFF7F0;
}
.contact__content .contact__title {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contact__content .contact__title h2 {
  font-size: 40px;
  margin: 20px 0;
}
.contact__content .contact__title p {
  font-size: 18px;
  font-weight: 300;
}
.contact__content .btn__container {
  padding: 4rem;
}

.my-slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  gap: 1rem;
}
.my-slider img {
  width: 540px;
  height: 360px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.slider__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 20%;
}

.slider__prev,
.slider__next {
  background: #030303;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 1rem;
  color: #FFF7F0;
  font-size: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 132px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF7F0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
