.btn {
  cursor: pointer;
  color: $light-cream;
  border-radius: 50px;
  border: none;
  width: 250px;
  height: 70px;
  font-size: $medium-font-size;
}

.btn--black {
  background-color: $black;
  &:hover {
    background-color: $galactic-blue;
  }
}

.btn--red {
  background-color: $light-red;
  &:hover {
    background-color: $summer-yellow;
  }
}
