.btn {
  cursor: pointer;
  color: $light-cream;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
}

.btn--black {
  background-color: $black;
  &:hover {
    background-color: $galactic-blue;
  }
}

.btn--red {
  background-color: $light-red;
  &:hover {
    background-color: $summer-yellow;
  }
}
