.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: $black;
  border-radius: 8px;
  color: $light-cream;
  .contact__title {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .contact__title h2 {
    font-size: $bold-medium-font-size;
    margin: 20px 0;
  }
  .contact__title p {
    font-size: $medium-font-size;
    font-weight: 300;
  }
  .btn__container {
    padding: 5rem;
  }
}
