.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 100px auto;
  background-color: $black;
  border-radius: 8px;
  color: $light-cream;
  .contact__title {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .contact__title h2 {
    font-size: $bold-medium-font-size;
    margin: 20px 0;
  }
  .contact__title p {
    font-size: $medium-font-size;
    font-weight: 300;
  }
  .btn__container {
    padding: 4rem;
  }
}
