.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  .header__title h1 {
    font-size: $bold-large-font-size;
    font-weight: bold;
    color: $black;
  }
  .header__title p {
    font-size: $medium-font-size;
    color: $medium-brown;
    margin: 20px auto;
    width: 75%;
  }
}
