@media screen and (max-width: 920px) {

  .hero h1 {
    font-size: $bold-medium-font-size;
  }

  .hero p {
    font-size: 18px;
  }

  .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3rem!important;
    .contact__title {
      margin-top: 0!important;
      width: 100%!important;
      h2 {
        font-size: $bold-small-font-size!important;
      }
    }
    .btn__container {
      padding: 20px;
    }
  }

}

@media screen and (max-width: 768px) {

  nav, section, footer {
    max-width: 90%!important;
  }


  .hero h1 {
    margin: 0 auto;
    font-size: $bold-medium-font-size;
    width: 80%;
  }

  .hero p {
    font-size: 18px;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    .about__title h2 {
      font-size: $bold-small-font-size!important;
      width: 100%!important;
    }
    .about__title p {
      width: 100%!important;
    }
    .btn__container {
      width: 100%!important;
    }
  }

}
