.my-slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  gap: 1rem;
  img {
    width: 540px;
    height: 360px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}

.slider__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 20%;

}

.slider__prev,
.slider__next {
  background: $black;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 1rem;
  color: $light-cream;
  font-size: 1.5rem;
}
