.work__title {
    width: 100%;
    font-size: $bold-medium-font-size;
    text-align: center;
    margin: 50px auto;
}

.my-slider {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
  }
}

.slider__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.slider__prev, .slider__next {
  font-size: $medium-font-size;
  background-color: $black;
  padding: 20px;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: $light-cream;
  &:hover {
    background-color: $galactic-blue;
  }
}
