@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&display=swap');

// Colors
$black: #030303;
$medium-brown: #7A746E;
$light-cream: #FFF7F0;
$galactic-blue: #755CDE;
$summer-yellow: #F6A560;
$pink: #F39E9E;
$light-red: #EB7565;
$cyan: #61C4B7;
$dark-purple: #552049;

// Fonts
$font-family: 'Plus Jakarta Sans', sans-serif;

// font-size
// bold large
$bold-large-font-size: 62px;
// bold medium
$bold-medium-font-size: 43px;
// bold small
$bold-small-font-size: 32px;

// medium
$medium-font-size: 20px;
