.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 132px;
  margin: 0 auto;
  .header__title {
    font-size: $bold-large-font-size;
    font-weight: bold;
    color: $black;
  }
  p {
    font-size: $medium-font-size;
    color: $medium-brown;
  }
}
